# ======================
# Node / NPM
# ======================
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# ======================
# Builds
# ======================
build
dist

# ======================
# Git
# ======================
.git
.gitignore

# ======================
# Env
# ======================
.env
.env.*

# ======================
# IDE / OS
# ======================
.vscode
.idea
.DS_Store
Thumbs.db
